.alumnos {
    display: flex;
}

.buttons {
	position: relative;
	left: 3%;
	top: 60px;
	height: 400px;
	width: 25%;
	border-radius: 20%;
	display: flex;
	flex-direction: column;
}

.buttons button {
	
}

/* -----------------------------------------------------------
# TABLAS
----------------------------------------------------------- */
.containerTabla {
    height: 440px;
    overflow-y: scroll;
    width: 70%;
    position: absolute;
    right: 0px;
}


.tablaAlumnos td, .tablaAlumnos th {
    padding: 8px;
}

.tablaAlumnos tr:nth-child(odd){background-color: white;}
.tablaAlumnos tr:nth-child(even){background-color: #f2f2f2;}

.tablaAlumnos tr:hover {background-color:#ddd;}

.tablaAlumnos th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: black;
}
