.alumnos {
    display: flex;
}

/* -----------------------------------------------------------
# TABLAS
----------------------------------------------------------- */
.containerTabla {
    height: 440px;
    overflow-y: scroll;
    width: 70%;
    position: absolute;
    right: 3%;
}


.tablaAlumnos td, .tablaAlumnos th {
    padding: 8px;
}

.tablaAlumnos tr:nth-child(odd){background-color: white;}
.tablaAlumnos tr:nth-child(even){background-color: #f2f2f2;}

.tablaAlumnos tr:hover {background-color:#ddd;}

.tablaAlumnos th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: black;
}
