.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#header {
  transition: all 0.5s;
  padding: 10px 0;
  background-color: aquamarine;
  color:aliceblue;
  position: sticky;
  top: 0;
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -----------------------------------------------------------
# NAVBAR
----------------------------------------------------------- */

.navbar {
  padding: 0;
  background-color: #282c34;
}

.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar li {
  position: relative;
}

.navbar a,
.navbar a:focus {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 17px;
  font-weight: 400;
  transition: 0.5s;
}

.navbar a:hover,
.navbar .active,
.navbar .active:focus,
.navbar li:hover>a {
  color: aquamarine;
}

.navbar img:hover>a {
  color:aquamarine;
}

/* -----------------------------------------------------------
# IMAGENES
----------------------------------------------------------- */

.imgNavbar:hover {
  filter: brightness(120%);
  transition: 0.5s;
}

.imgNavbarIcon:hober {-webkit-transform: scale(1.3);transform:scale(1.3)}
