/* -----------------------------------------------------------
# CONTAINERS
----------------------------------------------------------- */

.containerHeader {
    position: relative;
    left: 3.5%;
    width: fit-content;
}

.containerTablaAulas {
    height: 430px;
    width: 50%;
    position: fixed;
    left: 3%;
    top: 25%;
    overflow:auto;
}

    /* Scrollbar*/

.containerTablaAulas::-webkit-scrollbar {
    -webkit-appearance: none;
}
    
.containerTablaAulas::-webkit-scrollbar:vertical {
    width:10px;
}
    
.containerTablaAulas::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.containerBotonesAulas {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 300px;
    width: 25%;
    position: fixed;
    top: 25%;
    right: 10%;
}
    

/* -----------------------------------------------------------
# TABLAS
----------------------------------------------------------- */

.tablaAulas {
    width: 100%;
}

.tablaAulas td, .tablaAulas th {
    padding: 8px;
}

.tablaAulas tr:nth-child(odd){background-color: white;}
.tablaAulas tr:nth-child(even){background-color: #f2f2f2;}

.tablaAulas tr:hover {
    background-color:lightblue;
    cursor: pointer;
}

.tablaAulas th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: black;
}

/* -----------------------------------------------------------
# BOTONES
----------------------------------------------------------- */

.buttonAulas {
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
}
  
.buttonAulas:hover {
    background-color: aquamarine;
    color:black;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
  
.buttonAulas:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

/* -----------------------------------------------------------
# IMAGENES E ICONOS
----------------------------------------------------------- */

.icono {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

/* -----------------------------------------------------------
# INPUTS
----------------------------------------------------------- */


input{
    width: 100%;
    padding: 11px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
}

.containerFormulario{
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    font-weight: 600;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    width: 100%;
}

label{
    display: inline-block;
    width: 150px;
}