/* -----------------------------------------------------------
# CONTAINERS
----------------------------------------------------------- */

.containerHeader {
    position: relative;
    left: 3.5%;
    width: fit-content;
}

.containerTablaPersonal {
    height: 430px;
    width: 35%;
    position: fixed;
    right: 3%;
    top: 24%;
    overflow:auto;
}

    /* Scrollbar*/

.containerTablaPersonal::-webkit-scrollbar {
    -webkit-appearance: none;
}
    
.containerTablaPersonal::-webkit-scrollbar:vertical {
    width:10px;
}
    
.containerTablaPersonal::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.containerBotonesPersonal {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 200px;
    width: 25%;
    position: fixed;
    top: 25%;
    right: 10%;
}
    
.containerTablaPersonalSede {
    height: 430px;
    width: 35%;
    position: fixed;
    left: 3%;
    top: 24%;
    overflow:auto;
}

    /* Scrollbar*/

.containerTablaPersonalSede::-webkit-scrollbar {
    -webkit-appearance: none;
}
    
.containerTablaPersonalSede::-webkit-scrollbar:vertical {
    width:10px;
}
    
.containerTablaPersonalSede::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.containerAulasSede {
    height: 430px;
    width: 30%;
    position: fixed;
    left: 3%;
    top: 24%;
    overflow:auto;
}

    /* Scrollbar*/

.containerAulasSede::-webkit-scrollbar {
    -webkit-appearance: none;
}
    
.containerAulasSede::-webkit-scrollbar:vertical {
    width:10px;
}
    
.containerAulasSede::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

/* -----------------------------------------------------------
# TABLAS
----------------------------------------------------------- */

.tablaPersonal {
    width: 100%;
}

.tablaPersonal td, .tablaPersonal th {
    padding: 8px;
}

.tablaPersonal tr:nth-child(odd){background-color: white;}
.tablaPersonal tr:nth-child(even){background-color: #f2f2f2;}

.tablaPersonal tr:hover {
    background-color:lightblue;
    cursor: pointer;
}

.tablaPersonal th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: black;
}

/* -----------------------------------------------------------
# BOTONES
----------------------------------------------------------- */

.buttonPersonal {
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    width: 100%;
    right: 120%;
}
  
.buttonPersonal:hover {
    background-color: aquamarine;
    color:black;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
  
.buttonPersonal:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

/* -----------------------------------------------------------
# IMAGENES E ICONOS
----------------------------------------------------------- */

.icono {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}

/* -----------------------------------------------------------
# DIALOG
----------------------------------------------------------- */

.customDialog::backdrop {background-color: rgba(0, 0, 0, .55);}

.customDialog {
    background-color: transparent;
    border: 0px;
}

.form2 {width:340px;height:380px;background:#e6e6e6;border-radius:8px;box-shadow:0 0 40px -10px #000;margin:calc(50vh - 220px) auto;padding:20px 30px;max-width:calc(100vw - 40px);box-sizing:border-box;font-family:'Montserrat',sans-serif;position:relative}
.buttonForm2 {float:right;padding:8px 12px;margin:8px 0 0;font-family:'Montserrat',sans-serif;border:2px solid #78788c;background:0;color:#5a5a6e;cursor:pointer;transition:all .3s;border-radius: 10px;}
.buttonForm2:hover{background:aquamarine;color:black;border:2px solid white}