/* -----------------------------------------------------------
# CONTAINERS
----------------------------------------------------------- */

.containerHeader {
    position: relative;
    left: 15%;
    width: fit-content;
}

.containerTablaResponsablesDisponibles {
    height: 400px;
    width: 25%;
    position: fixed;
    left: 3%;
    top: 30%;
    overflow:auto;
}

    /* Scrollbar*/

.containerTablaResponsablesDisponibles::-webkit-scrollbar {
    -webkit-appearance: none;
}

.containerTablaResponsablesDisponibles::-webkit-scrollbar:vertical {
    width:10px;
}

.containerTablaResponsablesDisponibles::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}



.containerTablaResponsablesSede {
    height: 400px;
    width: 47%;
    position: fixed;
    right: 2%;
    top: 30%;
    overflow:auto;
}

    /* Scrollbar*/

.containerTablaResponsablesSede::-webkit-scrollbar {
    -webkit-appearance: none;
}

.containerTablaResponsablesSede::-webkit-scrollbar:vertical {
    width:10px;
}

.containerTablaResponsablesSede::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.containerBotonesResponsables {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    height: 120px;
    width: 20%;
    position: fixed;
    top: 50%;
    left: 29%;
    border-radius: 20%;
}

/* -----------------------------------------------------------
# TABLAS
----------------------------------------------------------- */


.tablaResponsablesDisponibles {
    width: 100%;
}

.tablaResponsablesDisponibles td, .tablaResponsables th {
    padding: 8px;
}

.tablaResponsablesDisponibles tr:nth-child(odd){background-color: white;}
.tablaResponsablesDisponibles tr:nth-child(even){background-color: #f2f2f2;}

.tablaResponsablesDisponibles tr:hover {
    background-color:lightblue;
    cursor: pointer;
}

.tablaResponsablesDisponibles th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: black;
}

.selectedRow {
    background-color: #1e8449;
}


.tablaResponsablesSede {
    width: 100%;
}

.tablaResponsablesSede td, .tablaResponsables th {
    padding: 8px;
}

.tablaResponsablesSede tr:nth-child(odd){background-color: white;}
.tablaResponsablesSede tr:nth-child(even){background-color: #f2f2f2;}

.tablaResponsablesSede tr:hover {
    background-color:lightblue;
    cursor: pointer;
}

.tablaResponsablesSede td{
    width: fit-content;
}

.tablaResponsablesSede th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: black;
}


/* -----------------------------------------------------------
# BOTONES
----------------------------------------------------------- */

/* CSS */
.button {
  appearance: none;
  backface-visibility: hidden;
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

.button:hover {
  background-color: aquamarine;
  color:black;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
}

.button:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

.button:hover {
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}
