/* -----------------------------------------------------------
# CONTAINERS
----------------------------------------------------------- */

.containerHeaderSedes {
    position: relative;
    left: 14.5%;
    width: fit-content;
}

.containerTablaSedes {
    height: 430px;
    width: 50%;
    position: fixed;
    left: 3%;
    top: 25%;
    overflow:auto;
}

    /* Scrollbar*/

.containerTablaSedes::-webkit-scrollbar {
    -webkit-appearance: none;
}

.containerTablaSedes::-webkit-scrollbar:vertical {
    width:10px;
}

.containerTablaSedes::-webkit-scrollbar-thumb {
    background-color: #797979;
    border-radius: 20px;
    border: 2px solid #f1f2f3;
}

.containerBotonesSedes {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    height: 400px;
    width: 25%;
    position: fixed;
    top: 30%;
    right: 10%;
}

/* -----------------------------------------------------------
# TABLAS
----------------------------------------------------------- */


.tablaSedes {
    width: 100%;
}

.tablaSedes td, .tablaSedes th {
    padding: 8px;
}

.tablaSedes tr:nth-child(odd){background-color: white;}
.tablaSedes tr:nth-child(even){background-color: #f2f2f2;}

.tablaSedes tr:hover {
    background-color:lightblue;
    cursor: pointer;
}

.tablaSedes th {
    position: sticky;
    top: 0;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: aquamarine;
    color: black;
}

/* -----------------------------------------------------------
# BOTONES
----------------------------------------------------------- */

.buttonSedes {
  background-color: #27ae60;
  border-radius: 8px;
  border-style: none;
  box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  line-height: 1.5;
  outline: none;
  overflow: hidden;
  padding: 13px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transform: translate3d(0, 0, 0);
  transition: all .3s;
  user-select: none;
  touch-action: manipulation;
  vertical-align: top;
  white-space: nowrap;
  width: 100%;
}

.buttonSedes:hover {
  background-color: aquamarine;
  color:black;
  opacity: 1;
  transform: translateY(0);
  transition-duration: .35s;
  box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.buttonSedes:active {
  transform: translateY(2px);
  transition-duration: .35s;
}

/* -----------------------------------------------------------
# IMAGENES E ICONOS
----------------------------------------------------------- */

.icono {
    width: 15px;
    height: 15px;
    margin-right: 7px;
}